.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.styleguide-block {
  margin-bottom: 20px;
}

.styleguide-component {
  float: left;
}

.styleguide-description,
.main-content {
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}
